select{
    -webkit-appearance: none;
    appearance: none;
}

.transit {
    color: #555;
    transition: color 0.3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: color;
}

.main-container{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #666;
    font-family: 'Poppins', sans-serif;
    max-width: 1650px;
    width: 95%;
    -webkit-text-size-adjust: 100%;
}

.why-list li:before {
    content: "";
    width: 14px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 10px;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(./assets/images/icon-whylist.png);
}

.social-icons {
    width: 29px;
    height: 29px;
    border: 1px solid #999;
    line-height: 27px;
    text-align: center;
    color: #999;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
}

.happy-customer-span {
    font-size: 20px;
    position: relative;
    top: -2px;
    color: #444;
    margin: 0;
}

.happy-customer-div {
    background: #fff;
    display: inline-block;
    left: 20px;
    padding: 5px 10px;
    position: absolute;
    top: -5px;
}

.comparison-thead {
    background-color: rgba(51, 51, 51, 0.1);
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

