.required::before{
    content: '*';
    font-size: medium;
    color: red;
    margin-right: 3px;
    line-height: normal;
    vertical-align: super;

}

select{
    -webkit-appearance: none;
    appearance: none;
}

.transit {
    color: #555;
    transition: color 0.3s ease-in-out;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: color;
}

.main-container{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: #666;
    font-family: 'Poppins', sans-serif;
    max-width: 1650px;
    width: 95%;
    -webkit-text-size-adjust: 100%;
}
.breadcrumb{
    line-height: 100%;
    margin: 23px 0;
}
