select {
  -webkit-appearance: none;
  appearance: none;
}

.jGrowl-notification {
  background-color: rgba(241, 241, 241, 0.97);
  text-align: left;
  border-radius: 3px;
  min-height: 40px;
  margin: 10px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 250px;
  color: #333;
  z-index: 9999;
}
.jGrowl-notification h3 {
  font-size: 12px;
  overflow: hidden;
  line-height: 20px;
  margin: 0;
}
.jGrowl-notification img {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.transit {
  color: #555;
  transition: color 0.3s ease-in-out;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: color;
}

.main-container {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #666;
  font-family: 'Poppins', sans-serif;
  max-width: 1650px;
  width: 95%;
  -webkit-text-size-adjust: 100%;
}

.why-list li:before {
  content: '';
  width: 14px;
  height: 12px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 10px;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url(./assets/images/icon-whylist.png);
}

.social-icons {
  width: 29px;
  height: 29px;
  border: 1px solid #999;
  line-height: 27px;
  text-align: center;
  color: #999;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.happy-customer-span {
  font-size: 20px;
  position: relative;
  top: -2px;
  color: #444;
  margin: 0;
}

.happy-customer-div {
  background: #fff;
  display: inline-block;
  left: 20px;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
}

.comparison-thead {
  background-color: rgba(51, 51, 51, 0.1);
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.wish-image {
  width: 70px;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .wish-image {
    width: 50px;
    height: auto;
  }
}

.title-happy-about {
    background: #fff;
    display: inline-block;
    left: 10px;
    padding: 2px 10px;
    position: absolute;
    top: -5px;
}

.btns-happy-about {
    background: #fff;
    display: inline-block;
    /* left: 20px; */
    right: 10px;
    padding: 2px 10px;
    position: absolute;
    top: -5px;
}

.title-happy-about h2 {
    font-size: 20px;
    position: relative;
    top: -2px;
    color: #444;
    margin: 0;
}


.btn-happy-about {
    display: inline-block;
    /* left: 20px; */
    /* padding: 5px 10px; */
    position: relative;
    top: -8px;
}


.react-datepicker-wrapper{
    width: 100%;
}   
